<html>

<head>
  <title>Owl Image Detection</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css">

  <!-- cropper library to draw box -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.2.1/cropper.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.2.1/cropper.js"></script>

</head>

<body>
  <div class="container-fluid">
    <h2>Pipeline: {{name}}</h2>
    <hr>
    <h4>Prediction results</h4>
    <div class="row">
      {% for i in range(preds|length) %}
      <div class="col col-md-2 col-lg-2">
        <div>
          <img class="input_img img-fluid" src="{{preds[i].img_ref}}" alt="">
        </div>
        <div class="labels">
          {% for j in range(preds[i].box_labels[0:5]|length) %}
          <div style="text-align: left;">{{j}} -
            <b>label</b>: {{preds[i].box_labels[j]}},
            <b>score</b>: {{preds[i].box_scores[j]}}</div>
          {% endfor %}
          <br>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

</body>

</html>